<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>about this website</title>
</head>
<body>
    <header>
        <h2 class="logo">Dlog</h2>
        <nav class="navigation">
            <a href="/" class="alink">Home</a>
        </nav>
    </header>
    <h1 class="about">
        this website is a passion project <br>by the student who is the worst in P.E and is always thinking <br>
        if you are wondering why the name of this <br> website name is Dlog it is because <br>
        my previous website was named logd so <br> i just put the letter D in the front of the word log end of story
    </h1>
</body>
</html>